.label-Done {
    background-color: #FF00FF;
}
.label-Invalid {
    background-color: #B7B7B7;
    color: #333333;
}
.label-Valid {
    background-color: #ffffff;
    color: #333333;
}
.label-Pending {
    background-color: #00ffff;
    color: #333333;
}
.label-Error {
    background-color: #CC0000;
}
.label-Active {
    background-color: #FFFF00;
    color: #333333;
}
.label-Stopped {
    background-color: #ff9900;
    color: #333333;
}
.label-Waiting {
    background-color: #4A86E8;
}
.label-Ready {
    background-color: #00FF00;
    color: #333333;
}
.brain-filename {
    width: 96%;
    position: center;
    background-color: #0d3349;
}
div.terminal-window {
    background-color: #333333 !important; /* AdminLTE nonsense */
    color: #BBBBBB !important; /* AdminLTE nonsense */
    overflow-y: scroll;
    -ms-overflow-y: scroll;
    height: 45em;
}
pre.terminal-window {
    background-color: #333333 !important; /* AdminLTE nonsense */
    color: #BBBBBB !important; /* AdminLTE nonsense */
    padding-left: 0.3em;
    padding-right: 0.3em;
}
input.terminal-window {
    background-color: #333333 !important; /* AdminLTE nonsense */
    color: #BBBBBB !important; /* AdminLTE nonsense */
    border: 1px solid #0b58a2;
    padding: 15px;
}
.terminal-contents {
    padding-left: 0.3em;
    padding-right: 0.3em;
    list-style-type:none
}
.wayBack {
    position: relative;
    z-index: 1000;
}